{% extends "main.twig" %}

{% block title %}Catégories{% endblock %}

{% block content %}
    <h1>Catégories disponibles</h1>
    <ul>
        {% for categ in categories %}
            <li>
                <p>L’id est {{ categ.id_categorie }}</p>

                <a href="{{ url_for('categorie', { 'id': categ.id_categorie }) }}">
                    ID : {{ categ.id_categorie }} – Libellé : {{ categ.libelle }}
                </a>
            </li>
        {% else %}
            <li>Aucune catégorie trouvée.</li>
        {% endfor %}
    </ul>

    <br>
    <a href="{{ url_for('home') }}">Retour à la page d’accueil</a>
{% endblock %}